
<p onload="connectWallet()" style="color:azure">  Welcome <%= user.name %> to Payee </p>
<section class="grid margin-bottom-20">
    <div class="m-12 l-7 center background-white text-center">
  
  <div id="walletSetup" style="display:block">
    <p id="req">Please Connect Your Wallet</p>
    <div style="display:none" id="registration">
        <h3 style="color:black">Please Register this Wallet Address with us by submitting a unique username for this wallet</h3>
          
      <div class="wrap-input100 validate-input" data-validate="Enter password">
          <input id="uname" class="input100" type="text" name="username" placeholder="Username"  value=""/>
          <span class="focus-input100" data-placeholder="&#x270E;"></span>
      </div>

      <div onclick="register()" class="container-login100-form-btn m-t-32">
        <button type="submit" class="login100-form-btn">
            Register
        </button>
    </div>


    </div>
    <div id="data" style="display:none">
      Use Following User Name to receive payments to this account. or Scan the below code 

      <h2 id="uName" style="color:black"></h2>
      <div  style="align-self: center;
            display: flex;
            flex-direction: row;
            justify-content: center;margin:20px" 
        id="qrcode"></div>
    </div>
  </div>
  


  <div id="QR" style="display:none">
    <div style="margin:30px">

      Fill In the UserName of receiver or scan qr using camera 

      <div class="wrap-input100 validate-input" data-validate="Enter password">
        <input id="payname" class="input100" type="text" name="username" placeholder="Username"  value=""/>
        <span class="focus-input100" data-placeholder="&#x270E;"></span>
    </div>

    <div onclick="pay()" class="container-login100-form-btn m-t-32">
      <button type="submit" class="login100-form-btn">
          pay
      </button>

    </div>
    <video style="max-width: 100%;" id="qrVideo"></video>
    </div>
  </div>
  <div id="UName" style="display:none">

  </div>
  <div id="History" style="display:none">

  </div>
    <div style="color:black" id="payeeData"></div>
    <div id="pay" style="display:block">
      Amount to be paid

      <div class="wrap-input100 " >
        <input id="amt" class="input100" type="number" step="any" min="0.01" name="0" placeholder="0"  value=""/>
        <span class="focus-input100" data-placeholder="AVAX"></span>
    </div>

    <div onclick="payAmt()" class="container-login100-form-btn m-t-32">
      <button type="submit" class="login100-form-btn">
          pay
      </button>

    </div>

    </div>
  
  </section>

 
  <script>
    
    

 function scanStart(){    
  var videoElem=document.getElementById("qrVideo");

    const qrScanner = new QrScanner(
    videoElem,
    result => qrRes(result.data),
    { /* your options or returnDetailedScanResult: true if you're not specifying any other options */ },
);

  try{qrScanner.start();}
  catch(err){
    alert("camera not found");
  }
   }

  function qrRes(res){
    const myUrl = new URL(res)

    if(window.location.origin==myUrl['origin'])
    {window.location=res}
    else{alert("Not a Payee QR")}
  } 
  function pay(){
    window.location=window.location.origin+"/payment/"+document.getElementById("payname").value
    
  }



function Qr(){
  window.location.href="/users/dashboard"
  if(!checkWalletConnect()) {
    alert("Please Connect Wallet First");
    return
  }
  scanStart();
  
  document.getElementById("pay").style.display="none";
  document.getElementById("walletSetup").style.display="none";
  document.getElementById("QR").style.display="block";
  document.getElementById("UName").style.display="none";
  document.getElementById("History").style.display="none";
  
  }

  function uName(){
    
  window.location.href="/users/dashboard"
  if(!checkWalletConnect()) {
    alert("Please Connect Wallet First");
    return
  }
  
  
  document.getElementById("pay").style.display="none";
  document.getElementById("walletSetup").style.display="none";
  document.getElementById("QR").style.display="none";
  document.getElementById("UName").style.display="block";
  document.getElementById("History").style.display="none";
  }

  function history(){
    
  window.location.href="/users/dashboard"
  if(!checkWalletConnect()) {
    alert("Please Connect Wallet First");
    return
  }
  
  document.getElementById("pay").style.display="none";
  document.getElementById("walletSetup").style.display="none";
  document.getElementById("QR").style.display="none";
  document.getElementById("UName").style.display="none";
  document.getElementById("History").style.display="block";
  }


  async function start(){
    await connectWallet()   
    await loadPayee();
  document.getElementById("walletSetup").style.display="none";
    
      }
</script>

<div id="nn" style="display: none;"><%= user.name %></div>
<div id="em" style="display: none;"><%= user.email %></div>
<div id="payee" style="display: none;"><%= payee %></div>
